.promo {
    display: flex;
    align-items: center;
}

.promo__content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: left;
}

.promo h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #000; 
}

.promo p {
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    margin-bottom: 30px;
    max-width: 500px;
}

.btn-promo {
    padding: 15px 30px;
    background: #0033FF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

