.swiper {
    width: 1440px;
    height: 380px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company__img{
    width: 350px;
    height: 300px;
}
